<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Details</title>
    <style>
        body{
            font-size: 20px;
            background-color: aqua;

        }
    </style>
</head>
<body>
    Verify your Details<hr>
    Your Firstname is {{fname}}<br>
    Your Lastname is {{lname}}<br>
    Your Email Id is {{mail}}<br>
    Your password is {{ps}} <hr>
</body>
</html>